@font-face {
  font-family: "Custom";

  /* This had to change to `../public/assets/fonts/Inter.woff2` in Storybook 6.2. because `/assets/fonts/Inter.woff2` wouldn't resolve. */
  src: url("/assets/fonts/Inter.woff2") format("woff2"),
    url("/assets/fonts/Inter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
